.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    border: none;
    background-color: #1c1c1c;
    /* chat-head的背景颜色 */
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.chat-head {
    border: none;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    background-color: #272727;
    /* chat-head中标题和关闭按钮的背景颜色 */
    border-bottom: 2px solid #4f4f4f;
    box-sizing: border-box;
    overflow: hidden;
}

.chat-title {
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-start;
}

.pin-title {
    font-size: 20px;
    font-weight: bold;
}

.chat-icon {
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.chat-history {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;
    background-color: #fff;
    /* chat-history的背景颜色 */
    overflow: hidden;
}

.message {
    display: flex;
    margin: 10px 0;
}

.avatar {
    margin-right: 10px;
    margin-left: 10px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo img {
    width: 32px;
    height: 40px;
}

.message-text {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ddd;
    max-width: 60%;
    word-wrap: break-word;
}

.my-message {
    justify-content: flex-end;
}

.my-message .message-text {
    background-color: #1abc9c;
}

.other-message .message-text {
    background-color: #fff;
    color: #333;
}

.chat-foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6rem;
    background-color: #f1f1f1;
    border-top: 5px solid #4f4f4f;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.chat-input {
    flex-grow: 1;
    height: 2rem;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.chat-send-btn {
    margin-left: 10px;
    height: 2rem;
    background-color: #6c6c6c;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.chat-send-btn:hover {
    background-color: #444;
}
