.fix-full-screen {
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.chat-box {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.chat-box .chat-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212529;
}

.chat-box .chat-head .chat-title {
  font-size: 1.5rem;
  color: #fff;
}

.chat-box .chat-head .chat-icon {
  font-size: 1.8rem;
  color: #fff;
}

.chat-head {
  min-height: 10vh;
  max-height: 10vh;
}

.chat-body {
  border-radius: 5px;
}

.chat-box .chat-body {
  min-height: 88vh;
  min-height: 88vh;
  padding: 20px;
  overflow-y: scroll;
  background-color: #f1f1f1;
}

.chat-box .chat-body .message {
  margin-bottom: 25px;
  max-width: 70%;
  border-radius: 5px;
  padding: 10px 15px;
  word-wrap: break-word;
  position: relative;
}

.chat-box .chat-body .message:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-bottom-color: #f1f1f1;
  top: -30px;
  left: 15px;
}

.chat-box .chat-body .message.sent {
  background-color: #1abc9c;
  color: #fff;
  align-self: flex-end;
  margin-left: 30%;
}

.chat-box .chat-body .message.sent:before {
  border-bottom-color: #1abc9c;
  left: auto;
  right: 15px;
}

.chat-box .chat-body .message.received {
  background-color: #fff;
  color: #333;
  align-self: flex-start;
}

.chat-box .chat-body .message.received:before {
  border-bottom-color: #fff;
}

.chat-box .chat-footer {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.chat-box .chat-footer .message-input {
  flex-grow: 1;
  border-radius: 25px;
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  margin-right: 10px;
}

.chat-box .chat-footer .message-send {
  background-color: #2f3542;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  padding: 7px 20px;
  cursor: pointer;
}
